---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import { stripBasePath, withBase } from "../utils/helpers";
import heroImage from "../assets/images/pixeltrue-space-discovery.svg";
import SpaceKeyboard from "../components/SpaceKeyboard.astro";
import getSiteConfig from "../site.config";
import { getLangFromPathname, localizePath } from "../i18n/utils";
import { defaultLang, type Lang } from "../i18n/config";

const derivedLang = getLangFromPathname(stripBasePath(Astro.url.pathname));
const lang = (Astro.props?.lang as Lang) ?? derivedLang ?? defaultLang;
const siteConfig = getSiteConfig(lang);
const notFound = siteConfig.notFound;
const pageTitle = `${siteConfig.title} | 404`;
const homeHref = notFound?.cta?.href || withBase(localizePath("/", lang));
---

<MainLayout
  activePage="404"
  pageTitle={pageTitle}
  lang={lang}
  showSubscribeForm={false}
>
  <div class="flex flex-col items-center justify-center page-content">
    <h1 class="sigmar-ff">{notFound?.title || "404"}</h1>
    <Image
      class="cover-img"
      src={heroImage}
      alt={"Astronaut in space"}
      width={400}
      height={300}
    />
    <p>{notFound?.description || "We couldn't find that page."}</p>
    <p>
      <a class="font-medium underline" href={homeHref}>
        {notFound?.cta?.text || "Back to Home"}
      </a>
    </p>
    <SpaceKeyboard />
  </div>
</MainLayout>
